<app-header-image [backgroundImage]="'assets/images/others/contact.jpg'"
                  [bgImageAnimate]="false"
                  [contentOffsetToTop]="true"
                  [title]="''"
                  [desc]="'Oportunidades inmobiliarias con grandes descuentos'">
</app-header-image>

<div class="px-3">

    <div class="theme-container">
        <!-- <mat-card class="main-content-header mb-5">

            <div fxLayout="row wrap" fxLayoutAlign="space-around">
                <div fxFlex="100" fxFlex.gt-xs="33.3">
                    <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                        <mat-icon color="primary" class="mat-icon-lg">home</mat-icon>
                        <h3 class="primary-color py-1">DIRECCI&Oacute;N:</h3>
                        <span>Calle Basílica 17, Oficinas, 28020, Madrid</span>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon color="primary" class="mat-icon-lg">call</mat-icon>
                        <h3 class="primary-color py-1">TEL&Eacute;FONO:</h3>
                        <span>(+34) 911 254 530</span>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon color="primary" class="mat-icon-lg">mail_outline</mat-icon>
                        <h3 class="primary-color py-1">EMAIL:</h3>
                            <a href="mailto:info@oportunalia.com" target="_blank"><span>info&#64;oportunalia.com</span></a>
                    </div>
                </div>
                <div class="divider w-100 mt-3"></div>
                <h3 class="w-100 text-center py-3">FORMULARIO DE CONTACTO</h3> -->

                <!-- <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)" fxLayout="row wrap">
                    <div fxFlex="100" fxFlex.gt-sm="33.3"  custom-form-fieldclass="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-label>Nombre*</mat-label>
                        <mat-form-field>
                            <input matInput placeholder="Name" formControlName="name" required>
                            <mat-error style="background: white !important;" *ngIf="contactForm.controls.name.errors?.required">Nombre obligatorio</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3"  custom-form-fieldclass="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-label>Email*</mat-label>
                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email" required>
                            <mat-error style="background: white !important;" *ngIf="contactForm.controls.email.errors?.required">Email obligatorio</mat-error>
                            <mat-error style="background: white !important;" *ngIf="contactForm.controls.email.hasError('invalidEmail')">Direcci&oacute;n de email erronea</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3"  custom-form-fieldclass="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-label>Tel&eacute;fono*</mat-label>
                        <mat-form-field>
                            <input matInput placeholder="Phone" formControlName="phone" required>
                            <mat-error style="background: white !important;" *ngIf="contactForm.controls.phone.errors?.required">Tel&eacute;fono obligatorio</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" class="px-1 mt-1 custom-form-field">
                        <mat-label>Mensaje*</mat-label>
                        <mat-form-field>
                            <textarea matInput placeholder="Message" formControlName="message" required rows="7"></textarea>
                            <mat-error style="background: white !important;" *ngIf="contactForm.controls.message.errors?.required">Mensaje obligatorio</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="w-100 py-2 text-center">
                        <button mat-raised-button color="primary" type="submit" class="uppercase">Enviar</button>
                    </div>
                </form> -->

            <!-- </div> -->

            <!-- <div class="mt-5 contact-map">
                <google-map [center]="center" [zoom]="zoom" [options]="mapOptions" height="400px" width="100%">
                    <map-marker *ngFor="let markerPosition of markerPositions"
                                [position]="markerPosition"
                                [options]="markerOptions"></map-marker>
                </google-map>
            </div> -->

        <!-- </mat-card> -->

        <div fxLayout="row wrap" fxLayoutAlign="space-around">
          <div fxFlex="100" fxFlex.gt-xs="40" >
              <!-- <div fxLayout="column" fxLayoutAlign="center center" class="mt-6"> -->
              <div fxLayout="column" class="mt-6">
                  <h3 class="fc-primary fs-2x fw-700 py-1">Cont&aacute;ctanos</h3>
                  <p class="fs-1x w-400 fc-primary">Puedes llamarnos o escribirnos.</p>
                  <div class="mt-4">
                    <mat-icon color="primary" class="mat-icon-lg cborder">email</mat-icon>
                    <a href="mailto:info@oportunalia.com" target="_blank" class="fc-primary fs-1x">info&#64;oportunalia.com</a>
                  </div>
                  <div class="pt-4">
                    <mat-icon color="primary" class="mat-icon-lg cborder">phone</mat-icon>
                    <a href="tel:+34911254530" target="_blank" class="fc-primary fs-1x">+34 911 254 530</a>
                  </div>
              </div>
          </div>
          <div fxFlex="100" fxFlex.gt-xs="60" ngClass.xs="mt-2" class="divform mb-6 mt-4 pl-3 pr-3">
              <h3 class="fw-600 pt-3 fc-primary fs-1-5x">Deja tu mensaje</h3>
              <p class="fs-1x w-400 fc-gray">¡Completa el siguiente formulario y un miembro de nuestro equipo se pondrá en contacto contigo lo antes posible!</p>
              <!-- <div fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon color="primary" class="mat-icon-lg">call</mat-icon>
                  <h3 class="primary-color py-1">TEL&Eacute;FONO:</h3>
                  <span>(+34) 911 254 530</span>
              </div> -->

              <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)" fxLayout="row wrap">
                <div fxFlex="50" class="px-1 mt-1 custom-form-field">
                    <mat-label>Nombre*</mat-label>
                    <mat-form-field>
                        <input matInput placeholder="Nombre" formControlName="firstname" required>
                        <mat-error style="background: white !important;" *ngIf="contactForm.controls.firstname.errors?.required">Nombre obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="50" class="px-1 mt-1 custom-form-field">
                    <mat-label>Apellido*</mat-label>
                    <mat-form-field>
                    <input
                        matInput placeholder="Apellido" formControlName="lastname" required>
                        <mat-error style="background: white !important;" *ngIf="contactForm.controls.lastname.errors?.required">Apellido obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.gt-sm="50" class="px-1 custom-form-field" ngClass.sm="mt-1" ngClass.xs="mt-1">
                    <mat-label>Email*</mat-label>
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email" required>
                        <mat-error style="background: white !important;" *ngIf="contactForm.controls.email.errors?.required">Email obligatorio</mat-error>
                        <mat-error style="background: white !important;" *ngIf="contactForm.controls.email.hasError('invalidEmail')">Direcci&oacute;n de email erronea</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.gt-sm="50" class="px-1 custom-form-field" ngClass.sm="mt-1" ngClass.xs="mt-1">
                    <mat-label>Tel&eacute;fono*</mat-label>
                    <mat-form-field>
                        <input matInput placeholder="Teléfono" type="phone" formControlName="phone" required>
                        <mat-error style="background: white !important;" *ngIf="contactForm.controls.phone.errors?.required">Tel&eacute;fono obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="100" class="px-1 mt-1 custom-form-field">
                    <mat-label>Asunto*</mat-label>
                    <mat-form-field>
                        <input matInput placeholder="Asunto" formControlName="subject" required>
                        <mat-error style="background: white !important;" *ngIf="contactForm.controls.subject.errors?.required">Asunto obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="100" class="px-1 mt-1 custom-form-field">
                    <mat-label>Mensaje*</mat-label>
                    <mat-form-field>
                        <textarea matInput placeholder="Escribe tu mensaje" formControlName="message" required rows="7"></textarea>
                        <mat-error style="background: white !important;" *ngIf="contactForm.controls.message.errors?.required">Mensaje obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <section>
                  <mat-checkbox formControlName="aceptaPrivacidad" required>
                    He leído y acepto la <a href="https://oportunalia.com/privacy-policy" target="_blank">Política de Privacidad.</a>
                  </mat-checkbox>
                  <mat-error style="background: white !important;" *ngIf="contactForm.controls.aceptaPrivacidad.errors?.required">Debes aceptar la Política de Privacidad.</mat-error>
                </section>
                <section>
                  Le informamos que el responsable de los datos personales que facilite a través de este formulario será OPORTUNALIA ACTIVOS S.L. .
                  Sus datos serán tratados para resolver sus consultas, tramitar su registro en nuestro sitio web, facilitarle la información, tramitar
                  los servicios solicitados, o para remitirle información que pueda resultar de su interés y no serán comunicados a terceros salvo por
                  obligación legal. Podrá ejercer sus derechos a través de la siguiente dirección: proteccióndatosoportunalia.com. Puede consultar más
                  información en la <a href="https://oportunalia.com/privacy-policy" target="_blank">Política de Privacidad.</a>
                </section>
                <div class="w-100 py-2 pb-6">
                    <button mat-raised-button color="primary" type="submit" class="uppercase pt-4 pb-4 pr-6 pl-6">Enviar</button>
                </div>
            </form>
          </div>
          <!-- <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
              <div fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon color="primary" class="mat-icon-lg">mail_outline</mat-icon>
                  <h3 class="primary-color py-1">EMAIL:</h3>
                      <a href="mailto:info@oportunalia.com" target="_blank"><span>info&#64;oportunalia.com</span></a>
              </div>
          </div> -->
        </div>
    </div>

</div>
