<app-header-image [backgroundImage]="'assets/images/others/contact.jpg'" [bgImageAnimate]="false"
  [contentOffsetToTop]="true" [title]="''" [desc]="'Oportunidades inmobiliarias con grandes descuentos'">
</app-header-image>
<div class="p-3">
  <div class="theme-container">

    <div class="my-3">
      <!-- <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
        <h1 class="uppercase">Aviso legal</h1>
      </div> -->

      <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
        <mat-card class="p-5" class="fc-primary">
          <!-- <div class="p-5">
            <h1>POLÍTICA DE PRIVACIDAD</h1>

            <p>La privacidad es de gran importancia para OPORTUNALIA ACTIVOS, S.L. y queremos mantener una actitud
              abierta y
              transparente al tratar sus datos personales. Por lo tanto, disponemos de una política que establece cómo
              se tratan y
              protegen sus datos personales, estableciendo las más estrictas medidas de seguridad y utilizando su
              información con
              los fines claramente descritos.</p>

            <p>En esta declaración de privacidad se explica qué datos personales recopilamos de nuestros USUARIOS y cómo
              los
              utilizamos. Te invitamos a leer detenidamente estos términos antes de facilitar tus datos personales en
              esta web.
            </p>

            <p>Destacamos que esta Política de Privacidad podría variar en función de las exigencias legislativas o de
              autorregulación, por lo que se aconseja a los USUARIOS que la revisen habitualmente. Será aplicable en
              caso de que
              los usuarios decidan rellenar cualquiera de sus formularios de contacto donde se recaben datos de carácter
              personal.
            </p>

            <p>Le agradeceríamos que nos ayudase a mantener actualizados sus datos personales informándonos de cualquier
              cambio en
              sus datos de contacto o sus preferencias.</p>

            <p>OPORTUNALIA ACTIVOS, S.L. en materia de Privacidad cumple con las directrices de la Ley Orgánica 3/2018
              de 5 de
              Diciembre de Protección de Datos Personales y Garantía de Derechos Digitales así como con el Reglamento
              (UE)
              2016/679 del Parlamento Europeo y del Consejo de 27 de Abril de 2016 relativo a la protección de datos de
              las
              persona físicas y la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Correo
              Electrónico
              (LSSI).</p>

            <h2>¿Quién es el responsable del tratamiento de sus datos?</h2>

            <ul class="ml-3">
              <li>Identidad: <b>OPORTUNALIA ACTIVOS, S.L.</b></li>
              <li>C.I.F: B88524988</li>
              <li>Nombre comercial: Oportunalia Activos.</li>
              <li>Dirección: Calle Basílica 17, Entrada Oficinas, 1º - 28020-Madrid, (MADRID)</li>
              <li>Telefono: 917 52 67 60</li>
              <li>Correo electrónico de contacto: <a href="info&#64;oportunalia.com">info&#64;oportunalia.com</a></li>
            </ul>


            <h2>Mayoría de Edad</h2>
            <p>OPORTUNALIA ACTIVOS S.L. no recopila deliberadamente ninguna información personal de menores. Si nos
              damos cuenta
              de que un menor nos ha proporcionado información de identificación personal, la eliminaremos. Si le
              preocupa que sus
              hijos utilicen los servicios de este Sitio Web le aconsejamos que supervise el acceso de su hijo a
              Internet o
              utilice filtros para la navegación en Internet. No se permite a los menores que introduzcan sus datos en
              el
              formulario del Web.</p>

            <p>Si eres menor de 18 años y has accedido a este sitio web no debes registrarte como USUARIO. Solo
              recogeremos y
              trataremos sus datos personales si tienes, al menos 18 años. Cualquier dato de un menor de 18 años será
              eliminado.
            </p>


            <h2>¿Con qué finalidad tratamos sus datos personales?</h2>

            <p>En OPORTUNALIA ACTIVOS, S.L tratamos la información que nos facilitan las personas interesadas con el fin
              de
              prestar los servicios solicitados, así como enviar comunicaciones comerciales sobre nuestros productos y
              servicios,
              para cuyo consentimiento usted haya prestado.</p>
            <p>Nos hemos esforzado en crear un espacio seguro y confiable por ello, compartimos nuestros principios
              respecto a su
              privacidad:</p>

            <ul class="ml-3">
              <li>Solicitamos la información personal estrictamente necesaria para prestar nuestros servicios.</li>
              <li>Para ser formalizada la subasta: Información relacionada con la gestión de la subasta.</li>
              <li>Para tramitar la compra: Cada vez que sea llevada a cabo alguna operación de compra como resultado de
                ser
                ganador de una subasta. Estos datos son necesarios para poder gestionar de forma adecuada la compra,
                elaboración y
                envío de factura, órdenes de recogida del producto.</li>
              <li>Para elaborar perfiles individualizados de cliente a través de procedimientos estadísticos:
                OPORTUNALIA ACTIVOS
                S.L. puede utilizar sus datos personales y podrá recibir comunicaciones personalizadas de su interés con
                contenidos relacionados con lotes en subasta y oportunidades de venta directa.</li>
              <li>Nunca compartimos información personal de nuestros usuarios, excepto para cumplir con la ley o en caso
                de que
                contemos con su autorización expresa para el envío de información sobre el seguimiento de subastas en
                las que han
                participado.</li>
              <li>No utilizaremos sus datos personales con una finalidad diferente a la expresada en esta política de
                privacidad.
              </li>
            </ul>


            <h2>¿Cuánto tiempo conservaremos sus datos?</h2>
            <p>Los datos se conservarán mientras se mantenga la relación comercial, y en su caso, durante el tiempo
              necesario para
              cumplir con las obligaciones legales que resulte de aplicación.</p>

            <p>Si sus datos se utilizan para varias finalidades que nos obligan a conservarlos durante plazos
              diferentes,
              aplicaremos el plazo de conservación más largo.</p>

            <p>En relación con aquellos datos personales que ya no sean necesarios, quedará limitado el acceso a los
              mismos al
              cumplimiento de obligaciones estrictamente legales o bien se destruirán de forma segura.</p>

            <h2>¿Cuál es la legitimación para el tratamiento de sus datos?</h2>

            <p>La legitimación para el tratamiento de los datos es el propio consentimiento prestado por parte de los
              usuarios.
            </p>
            <ul class="ml-3">
              <li>Limitar el acceso a sus datos únicamente a aquellas personas que deban conocerlos en atención a las
                tareas que
                realizan, con quienes se ha firmado un acuerdo de confidencialidad.</li>
              <li>Almacenar los datos más sensibles (como los de tarjeta de crédito) sólo en formato cifrado.</li>
              <li>Instalar sistemas de protección perimetral de las infraestructuras informáticas (“firewalls”) para
                impedir
                accesos no autorizados, por ejemplo “hackers”.</li>
              <li>Monitorizar habitualmente los accesos a los sistemas informáticos para detectar y detener cualquier
                uso indebido
                de los datos de carácter personal.</li>
              <li>Se dispone de un Manual de Políticas de Uso y control de las tecnologías de la información y de las
                telecomunicaciones donde se marcan las pautas al personal de la organización que accede a datos.</li>
            </ul>

            <h2>¿A qué destinatarios se comunicarán sus datos?</h2>
            <p>Únicamente se cederán sus datos a los terceros para los cuales hemos recabado debidamente su
              consentimiento, así
              como para dar cumplimiento a las obligaciones legales.</p>
            <p>Le informamos que no están previstas transferencias de datos a terceros países.</p>


            <h2>¿Cuáles son sus derechos cuando nos facilita sus datos?</h2>
            <p>Cualquier persona tiene derecho a obtener confirmación sobre si en OPORTUNALIA ACTIVOS, S.L estamos
              tratando datos
              personales que les conciernan, o no. Las personas interesadas tienen derecho a acceder a sus datos
              personales, así
              como a solicitar la rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando,
              entre otros
              motivos, los datos ya no sean necesarios para los fines que fueron recogidos.</p>
            <p>- En determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus
              datos, en
              cuyo caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones.</p>
            <p>- En determinadas circunstancias y por motivos relacionados con su situación particular, los interesados
              podrán
              oponerse al tratamiento de sus datos.</p>
            <p>En este caso, OPORTUNALIA ACTIVOS, S.L dejará de tratar los datos, salvo por motivos legítimos
              imperiosos, o el
              ejercicio o la defensa de posibles reclamaciones. Podrá ejercitar materialmente sus derechos de la
              siguiente forma:
              dirigiéndose a la dirección de correo electrónico del responsable del tratamiento reseñado anteriormente
              adjuntando
              copia de su DNI o documento de identidad. Si ha otorgado su consentimiento para alguna finalidad concreta,
              tiene
              derecho a retirar el consentimiento otorgado en cualquier momento, sin que ello afecte a la licitud del
              tratamiento
              basado en el consentimiento previo a su retirada. En caso de que sienta vulnerados sus derechos en lo
              concerniente a
              la protección de sus datos personales, especialmente cuando no haya obtenido satisfacción en el ejercicio
              de sus
              derechos, puede presentar una reclamación ante la Autoridad de Control en materia de Protección de Datos
              competente
              a través de su sitio web: <a href="https://www.agpd.es">www.agpd.es</a></p>


            <h2>¿Cómo hemos obtenido sus datos?</h2>

            <p>Los datos personales que tratamos en OPORTUNALIA ACTIVOS, S.L han sido directamente proporcionados por el
              interesado. Las categorías de datos que se tratan son:</p>
            <ul class="ml-3">
              <li><u>Datos personales</u>: Cuando te registras en nuestra página web</li>
              <li><u>Direcciones postales y electrónicas</u>: Cuando cumplimentas tus datos a través del formulario de
                contacto.
              </li>
              <li><u>Datos identificativos</u>: Cada vez que accedes en nuestra página web</li>
              <li><u>Información comercial</u>: Cuando navegas por nuestra web, así como, cuando participas en nuestras
                campañas
                de marketing y rellenas formularios mostrando interés en oportunidades de venta de productos o artículos
                específicos.</li>
              <li><u>Información adicional</u>: Cuando solicitas más información sobre un producto al personal de
                OPORTUNALIA
                ACTIVOS S.L.</li>
            </ul>


            <h2>Medidas de protección de sus datos</h2>
            <p>En aquellos casos en que se facilite (o usted lo haya elegido) una contraseña que le permita acceder a
              determinadas
              partes de nuestra web o portal, aplicación o servicio bajo nuestro control, es responsable de mantenerla
              en secreto
              y de cumplir todos los demás procedimientos de seguridad que le sean notificados.</p>

            <p>Para garantizar la protección y mantener la seguridad, integridad y disponibilidad de sus datos,
              utilizamos
              diversas medidas de seguridad. Aunque en las transmisiones de datos a través de internet o desde una web
              no es
              posible garantizar una protección absoluta contra intrusiones, tanto nosotros como nuestros
              subcontratistas y socios
              de negocio, dedicamos los máximos esfuerzos para mantener las medidas de protección física, electrónica y
              procedimental con las cuales garantizar la protección de tus datos de acuerdo con las exigencias legales
              aplicables
              en esta materia.</p>

            <h2>Remarketing</h2>
            <p>El remarketing es un método para conseguir que los usuarios que han visitado nuestro sitio web vuelvan a
              hacerlo.
              La función de remarketing nos permite llegar de algún modo a las personas que hayan visitado <a
                href="https://oportunalia.com">oportunalia.com</a> y asociar un mensaje concreto.</p>
            <p>Como usuario de <a href="https://oportunalia.com">oportunalia.com</a> informamos que estamos
              recopilando
              información para esta función de remarketing. La información que recopilamos gracias a esta función es
              recogida por
              las cookies de los proveedores de servicio. Puedes conocer los datos que recopilan estas cookies
              consultando las
              políticas de privacidad de estos servicios <i>(Facebook / Instagram, LinkedIn, Twitter, Servicios
                asociados a
                Google)</i></p>

            <p>Si no quieres que tu información sea recopilada por estas cookies, puedes inhabilitar el uso de cookies
              de Google a
              través de la Configuración de anuncios de Google.</p>
            <p>Los datos obtenidos a través de estas plataformas están sujetos a esta política de privacidad desde el
              momento en
              que el usuario deja sus datos en estas plataformas o solicitar más información sobre un producto.</p>


            <h2>Bases legales</h2>
            <p>El uso de sus datos en las condiciones anteriormente descritas está permitido por la normativa de
              protección de
              datos europea y española de conformidad con las siguientes bases legales:</p>
            <ul class="ml-3">
              <li>Manifiesta su consentimiento: Formulario de consentimiento para que autorice el tratamiento de sus
                datos con
                determinadas finalidades; puede revocar el consentimiento prestado en todo momento.</li>
              <li>El tratamiento de sus datos es necesario para la gestión del contrato suscrito.</li>
              <li>El tratamiento de tus datos es necesario para cumplir con nuestras obligaciones legales.</li>
            </ul>
            <p>Si tiene alguna pregunta en relación con el uso que hacemos de su información, contacte con nosotros a
              través del
              correo: <a href="mailto:protecciondatos&#64;oportunalia.com">protecciondatos&#64;oportunalia.com</a></p>
          </div> -->
          <div class="p-5">
            <h1>POLÍTICA DE PRIVACIDAD</h1>

            <h2>1. INFORMACIÓN AL USUARIO</h2>
<p><strong>Responsable del tratamiento</strong></p>
<ul class="ml-3">
  <li><strong>Identidad:</strong> OPORTUNALIA ACTIVOS, S.L.</li>
  <li><strong>CIF:</strong> B88524988</li>
  <li><strong>Dirección:</strong> Calle General Cabrera, 11, 28020 Madrid.</li>
  <li><strong>Teléfono:</strong> 911254530</li>
  <li><strong>Correo electrónico:</strong> <a href="mailto:info&#64;oportunalia.com">info&#64;oportunalia.com</a> / <a href="mailto:protecciondatos&#64;oportunalia.com">protecciondatos&#64;oportunalia.com</a></li>
  <li><strong>Delegado de Protección de Datos (DPO):</strong> <a href="mailto:rgpd&#64;ateacompliance.com">rgpd&#64;ateacompliance.com</a></li>
</ul>

<h2>2. FINALIDADES DEL TRATAMIENTO</h2>
<p>Los datos personales facilitados por los usuarios de este sitio web serán tratados para las siguientes finalidades:</p>
<ul class="ml-3">
  <li><strong>Registro de usuario:</strong> gestión del alta en la plataforma, acceso a funcionalidades (pujas, favoritos, participación en subastas).</li>
  <li><strong>Gestión de subastas e intermediación:</strong> participación en procesos de puja, adjudicación y seguimiento de operaciones.</li>
  <li><strong>Gestión de compras:</strong> formalización de operaciones, facturación, atención al cliente y gestión administrativa.</li>
  <li><strong>Verificación de identidad y prevención del fraude:</strong> comprobación de datos identificativos cuando sea necesario para garantizar la seguridad de las operaciones.</li>
  <li><strong>Atención de consultas:</strong> gestión de solicitudes de información y contacto.</li>
  <li><strong>Envío de comunicaciones comerciales:</strong> únicamente cuando el usuario haya prestado su consentimiento.</li>
  <li><strong>Elaboración de perfiles comerciales básicos:</strong> con el fin de facilitar la búsqueda de productos de interés, sin que se adopten decisiones automatizadas con efectos jurídicos o relevantes para el usuario.</li>
</ul>

<h2>3. LEGITIMACIÓN DEL TRATAMIENTO</h2>
<p>El tratamiento de los datos se basa en:</p>
<ul class="ml-3">
  <li><strong>Ejecución de la relación contractual:</strong> el tratamiento de sus datos es necesario para el registro, participación en subastas y la gestión de las operaciones del contrato suscrito.</li>
  <li><strong>Cumplimiento de obligaciones legales:</strong> el tratamiento de tus datos es necesario para cumplir con nuestras obligaciones legales de normativa fiscal, contable y otras aplicaciones.</li>
  <li><strong>Interés legítimo del responsable:</strong> para garantizar la seguridad de la plataforma, prevención del fraude y la mejora continua del servicio.</li>
  <li><strong>Consentimiento del usuario:</strong> manifiesta su consentimiento mediante formulario para que autorice el envío de comunicaciones comerciales y determinadas acciones de perfilado; puede revocar el consentimiento prestado en todo momento.</li>
</ul>

<h2>4. CATEGORÍAS DE DATOS</h2>
<p>Se podrán tratar las siguientes categorías de datos:</p>
<ul class="ml-3">
  <li>Datos identificativos (nombre, apellidos, DNI/NIE o equivalente)</li>
  <li>Datos de contacto (dirección, teléfono, correo electrónico)</li>
  <li>Datos económicos y transaccionales</li>
  <li>Datos de navegación y uso de la plataforma</li>
  <li>Documentación acreditativa de identidad, cuando sea necesario</li>
</ul>

<h2>5. DESTINATARIOS DE LOS DATOS</h2>
<p>Los datos personales podrán ser comunicados a:</p>
<ul class="ml-3">
  <li>Propietarios o cedentes de los activos objeto de intermediación</li>
  <li>Profesionales jurídicos (abogados, procuradores) necesarios para la formalización de operaciones</li>
  <li>Entidades financieras, bancos y plataformas de pago</li>
  <li>Administraciones públicas y organismos competentes, cuando exista obligación legal</li>
  <li>Proveedores de servicios tecnológicos y colaboradores, en calidad de encargados del tratamiento</li>
</ul>
<p>No se prevén transferencias internacionales de datos, salvo en caso de prestación de servicios con garantías adecuadas conforme a la normativa vigente.</p>

<h2>6. CONSERVACIÓN DE LOS DATOS</h2>
<p>Los datos se conservarán:</p>
<ul class="ml-3">
  <li>Mientras el usuario mantenga su cuenta activa.</li>
  <li>Durante la ejecución de las operaciones realizadas.</li>
  <li>Posteriormente, durante los plazos exigidos por las obligaciones legales.</li>
</ul>
<p>Una vez finalizados dichos plazos, los datos serán bloqueados o eliminados de forma segura y permanente.</p>

<h2>7. PERFILADO</h2>
<p>Se podrán elaborar perfiles comerciales básicos basados en la actividad del usuario en la plataforma con la finalidad de ofrecerle productos o servicios de su interés.</p>
<p>En ningún caso se adoptarán decisiones automatizadas con efectos jurídicos sin el consentimiento del usuario.</p>

<h2>8. DERECHOS DEL USUARIO</h2>
<p>El usuario podrá ejercer los siguientes derechos:</p>
<ul class="ml-3">
  <li>Acceso a sus datos personales</li>
  <li>Rectificación de datos inexactos</li>
  <li>Supresión de sus datos</li>
  <li>Limitación del tratamiento</li>
  <li>Oposición al tratamiento</li>
  <li>Portabilidad de los datos</li>
</ul>
<p>Podrá ejercer sus derechos mediante solicitud dirigida a: <strong><a href="protecciondatos&#64;oportunalia.com">protecciondatos&#64;oportunalia.com</a></strong></p>
<p>Asimismo, tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos (<a href="https://www.aepd.es" target="_blank">www.aepd.es</a>).</p>

<h2>9. CARÁCTER OBLIGATORIO DE LOS DATOS</h2>
<p>Los datos solicitados en los formularios marcados con (*) son necesarios para la prestación del servicio. La negativa a facilitarlos puede impedir el acceso o correcto funcionamiento de la plataforma.</p>
<p>El usuario garantiza que los datos facilitados son veraces y actualizados, comprometiéndose a comunicar cualquier modificación.</p>

<h2>10. SEGURIDAD DE LOS DATOS</h2>
<p>OPORTUNALIA ACTIVOS, S.L. aplica medidas técnicas y organizativas apropiadas, revisadas periódicamente, para garantizar la confidencialidad, integridad, disponibilidad y resiliencia de los sistemas y servicios de tratamiento de datos personales. Entre dichas medidas se incluyen, entre otras:</p>
<ul class="ml-3">
  <li>Control de acceso lógico y físico a los sistemas de información, limitado únicamente al personal autorizado según sus funciones.</li>
  <li>Sistemas de autenticación y gestión de permisos basados en el principio de mínimo privilegio.</li>
  <li>Cifrado de la información sensible tanto en tránsito como, cuando procede, en reposo.</li>
  <li>Utilización de mecanismos de seguridad perimetral (firewalls, segmentación de red y sistemas de detección de intrusiones).</li>
  <li>Monitorización y registro de accesos a los sistemas con fines de detección de usos indebidos o no autorizados.</li>
  <li>Realización de copias de seguridad periódicas y procedimientos de recuperación ante incidentes.</li>
  <li>Formación interna del personal en materia de protección de datos y seguridad de la información.</li>
</ul>
<p>Estas medidas se revisan y actualizan de forma periódica para garantizar su adecuación al nivel de riesgo del tratamiento.</p>

<h2>11. MENORES DE EDAD</h2>
<p>Los servicios ofrecidos están dirigidos exclusivamente a personas mayores de 18 años. No se permite el registro de menores ni el tratamiento intencionado de sus datos.</p>

<h2>12. ACTUALIZACIÓN DE LA POLÍTICA</h2>
<p>La presente política podrá ser actualizada para adaptarse a cambios normativos o a modificaciones en la actividad de la empresa.</p>
          </div>
        </mat-card>
      </div>

    </div>

  </div>
</div>
