<app-header-image [backgroundImage]="'assets/images/others/contact.jpg'" [bgImageAnimate]="false"
  [contentOffsetToTop]="true" [title]="''" [desc]="'Oportunidades inmobiliarias con grandes descuentos'">
</app-header-image>
<div class="p-3">
  <div class="theme-container">

    <div class="my-3">
      <!-- <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
        <h1 class="uppercase">Aviso legal</h1>
      </div> -->

      <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
        <mat-card class="p-5" class="fc-primary">
          <div class="p-5">
            <h1>CONDICIONES DE USO</h1>

            <h2>1. INTRODUCCIÓN</h2>
            <p>Te damos la bienvenida al portal de subastas OPORTUNALIA ACTIVOS, S.L. El presente documento tiene como
              objeto
              establecer las condiciones generales de uso de la página web accesible a través de la URL <a
                href="https://oportunalia.com">oportunalia.com</a>
              propiedad de OPORTUNALIA ACTIVOS, S.L. así como regular las condiciones generales de contratación
              ofertadas por
              OPORTUNALIA ACTIVOS, S.L., en cumplimiento de lo establecido en la Ley 34/2002, de 11 de julio, de
              servicios de la
              sociedad de información y de comercio electrónico. El prestador de servicios es la sociedad de
              nacionalidad
              española, OPORTUNALIA ACTIVOS, S.L., con CIF B88524988 que se encuentra inscrita en el Registro Mercantil
              de Madrid,
              Tomo 39843, Libro 0, Folio 139, Sección 8, Hoja M-707875, Inscripción 1ª. Ser USUARIO de oportunalia.com
              implica que
              usted reconoce haber leído y aceptado las presentes condiciones y la normativa legal aplicable en esta
              materia. Si
              no está de acuerdo con estas condiciones, le rogamos que no continúe utilizando <a
                href="https://oportunalia.com">oportunalia.com</a> ni los recursos
              que le ofrece. OPORTUNALIA ACTIVOS, S.L. podrá variar y actualizar las presentes Condiciones en cualquier
              momento,
              no obstante, cabe resaltar que no es intención de que sea frecuente.
              <!-- El hecho de usar este portal web
              implica que el
              USUARIO acepta estas Condiciones de uso y se compromete a aceptar las modificaciones realizadas en las
              mismas,
              obligándose a revisar esta página con mera frecuencia. -->
            </p>

            <h2>2. CONDICIONES GENERALES</h2>
            <p>Las presentes condiciones generales de contratación regulan la participación, a través del sitio web
              <a href="https://oportunalia.com">oportunalia.com</a> por parte de sus usuarios en los distintos
              servicios
              ofrecidos para la venta de activos a través
              de la presente website. Las presentes Condiciones Generales han sido elaboradas de conformidad con lo
              establecido en
              la Ley 34/2002, de servicios de la sociedad de la información y de comercio electrónico, Ley 59/2003, de
              19 de
              diciembre, de firma electrónica, Real Decreto Legislativo 1/2007, de 16 de noviembre, por el que se
              aprueba el texto
              refundido de la Ley General para la Defensa de los Consumidores y Usuarios y otras leyes complementarias,
              el Real
              Decreto 1906/1999 por el que se regula la contratación telefónica o electrónica con condiciones generales
              en
              desarrollo del artículo 5.3 de la Ley 7/1998, la Ley 26/1984 General para la Defensa de los Consumidores y
              Usuarios,
              Ley 7/1996, de 15 de enero, de Ordenación del Comercio Minorista y cuantas disposiciones legales resulten
              de
              aplicación. Estos términos y condiciones, junto con cualquier otros términos y condiciones particulares
              para una
              determinada puja o servicio prestado por el presente sitio web, constituyen un acuerdo completo entre
              OPORTUNALIA
              ACTIVOS S.L. y el participante. Se entenderá aceptado expresamente por los compradores el estado físico en
              que se
              encuentren los bienes objeto de subasta desde el momento de su intervención en el proceso de venta pública
              y sin
              garantías, sin que pueda revisarse el precio o desistir de la venta por ninguna circunstancia, teniendo
              las ofertas
              realizadas carácter irrevocable. La entidad OPORTUNALIA ACTIVOS S.L informa que los trámites para efectuar
              la
              adquisición de sus activos son aquellos que se describen en las presentes condiciones generales, así como
              aquellos
              otros específicos que se indiquen en la pantalla durante la navegación, de manera que el Usuario declara
              conocer y
              aceptar dichos trámites como necesarios para acceder a los productos y servicios ofrecidos en su website.
            </p>

            <h2>3. PARTICIPACION Y ELEGIBILIDAD</h2>
            <p>Para poder participar y acceder a los servicios ofrecidos por OPORTUNALIA ACTIVOS, S.L., es necesario
              registrarse y
              abrir una cuenta en el sitio web: <a href="https://oportunalia.com">oportunalia.com</a>. Al
              hacerlo acepta
              obligarse a estos Términos y Condiciones.
              Para poder participar es necesario: </p>

            <ol class="ml-3">
              <li>Ser mayor de edad y tener capacidad legal para obligarse en este acuerdo.</li>
              <li>Aceptar los Términos y Condiciones, y, por tanto, el acuerdo entre las partes cliqueando en el botón
                que se
                encuentra al lado de los Términos y Condiciones</li>
              <li>Aceptar que no hay contingencias en las ventas distintas de las que se reflejan por nosotros en los
                Términos y
                Condiciones o en la descripción del lote en el momento de la venta.</li>
              <li>Aceptar el pago por las pujas realizadas usando tu usuario y contraseña.</li>
              <li>Ser persona física o jurídica real, con dirección verificable, número de teléfono y dirección de mail.
              </li>
              <li>Proporcionar una dirección, número de teléfono y dirección de email, para cualquier comunicación
                referente a su
                cuenta, compras o pago. Se requerirá información adicional si es necesario para verificar su identidad.
              </li>
              <li>Aceptar de buena fe, sin intención de defraudar, engañar o ir en contra de la legislación vigente.
              </li>
              <li>Aceptar que al renunciar a la oportunidad de examinar físicamente el bien antes de hacer una oferta,
                usted está
                limitando sus derechos en virtud del presente acuerdo. Recomendamos encarecidamente que inspeccione el
                bien y nos
                remita cualquier duda o pregunta que tenga acerca de la condición de la propiedad, el funcionamiento, o
                la
                idoneidad para un propósito particular o de comerciabilidad.</li>
            </ol>

            <h2>4. USO DEL PORTAL Y SUS SERVICIOS</h2>

            <p>Una vez registrado en la página web se le enviará automáticamente un email a la cuenta de correo
              facilitado en el
              formulario de registro con el fin de que confirme su alta. Los usuarios que infrinjan las reglas recogidas
              en los
              términos y condiciones no podrán formalizar la venta o subasta de los bienes realizada a través de
              <a href="https://oportunalia.com">oportunalia.com</a> y perderán, en su caso, las cantidades que
              hubieran
              entregado como depósito o fianza,
              reservándose OPORTUNALIA ACTIVOS, S.L., el derecho a ejercitar las acciones legales oportunas a efectos de
              exigir
              responsabilidad por los daños y perjuicios causados. La información sobre la descripción y situación de
              los activos
              es facilitada por la persona (física o jurídica) o autoridad judicial que realiza el encargo, por lo que
              ninguna
              responsabilidad cabe exigir a OPORTUNALIA ACTIVOS S.L., en caso de que se produjera un error en la
              descripción de
              los bienes objeto de enajenación. El precio de salida será fijado por la persona (física o jurídica) que
              haya
              realizado el encargo de enajenación del activo o en su caso mediante resolución judicial. Todos los bienes
              o activos
              que vayan a ser enajenados en <a href="https://oportunalia.com">oportunalia.com</a> tendrán fecha
              de inicio
              y de finalización de venta o de subasta,
              (según sea el caso), la cual estará publicada de forma clara en la página donde se muestra el bien.
              OPORTUNALIA
              ACTIVOS, S.L., podrá exigir el depósito de la fianza, previa la publicación de esta información en el
              anuncio del
              activo, siendo éste, en su caso, requisito indispensable para la participación de la venta o subasta del
              activo. Una
              vez finalizada la venta o subasta, en caso de que el usuario participante no sea adjudicatario del bien o
              bienes por
              los que hubiere pujado, se le devolverá el depósito mediante transferencia bancaria, a la misma cuenta de
              la que
              procede la transferencia inicial, en el plazo indicado en las condiciones particulares de la subasta. Si
              por el
              contrario el usuario ha resultado ser adjudicatario del bien objeto de la venta o subasta, la cantidad
              depositada
              será reservada como garantía del cumplimiento de su obligación de hacer frente al pago del resto del
              precio que
              hubiere ofertado por la adquisición del bien o bienes que se ha adjudicado.
            </p>



            <!-- <h2>5. PROTECCIÓN DE DATOS</h2>
            <p>El objetivo de la Política de Privacidad de OPORTUNALIA ACTIVOS, S.L. es cumplir la legislación vigente
              sobre
              protección de datos personales. A través de nuestra web <a
                href="https://oportunalia.com">oportunalia.com</a> se recogen
              datos de carácter personal, necesarios para la gestión y mantenimiento de nuestros servicios. Los datos
              serán
              tratados y protegidos conforme a lo regulado en la Ley Orgánica de 15/1999, de 13 de diciembre de
              protección de
              datos de carácter personal y su normativa de desarrollo, con las medidas de seguridad que sean de
              aplicación según
              el Real Decreto 1720/2007 de 21 de diciembre de Protección de Datos de la Unión Europea (RGPD) de
              aplicación el 25
              de mayo de 2018. Aquí encontrarás el detalle de nuestra Política de Privacidad. La aceptación de las
              presentes
              condiciones de uso implica la aceptación de la política de privacidad anteriormente detallada.</p> -->

            <h2>5. LIMITACIONES DE USO</h2>
            <p>Será necesario disponer de un correo electrónico válido, mediante el que se procederá a validar la
              autenticidad del
              Usuario para que sea completado correctamente el registro como Usuario en la web de la entidad OPORTUNALIA
              ACTIVOS,
              S.L.
              Dicho proceso, se inicia con un simple formulario en el que el Usuario debe cumplimentar aportando sus
              datos de
              persona física tales como nombre completo, correo electrónico válido y un número de teléfono móvil válido.
              Con esta
              información, la plataforma envía automáticamente un email para validar su usuario y contraseña al acceder
              a dicha
              página. Una vez validados estos datos, se podrá acceder a un formulario en el que completar los datos de
              registro:
              clave de acceso, dirección postal completa, Número de Identificación Fiscal, etcétera. Los datos deben ser
              los de
              una persona física y no los de una empresa o persona jurídica. Una vez completado este proceso, podrá
              acceder a la
              plataforma identificándose con su correo electrónico y la clave de acceso personal seleccionada. Los
              Usuarios podrán
              cambiar su clave de acceso en cualquier momento por cualquier otra. Los Usuarios se comprometen a hacer un
              uso
              diligente de las claves de acceso, así como a no poner a disposición de terceros sus claves de acceso. Los
              Usuarios
              se comprometen a comunicar a OPORTUNALIA ACTIVOS, S.L., con la mayor brevedad, la pérdida o robo de sus
              claves de
              acceso, así como cualquier riesgo de acceso a las mismas por parte de un tercero. No se permite el
              registro de más
              de un Usuario con el mismo correo electrónico o con el mismo número de teléfono móvil. En el caso de que
              se
              identifique a un Usuario con datos que ya forman parte del perfil de otro Usuario, se le comunicará por
              correo
              electrónico, dándole un plazo máximo de 5 días naturales para la procedente modificación. En caso de que
              no se
              modifiquen los datos, OPORTUNALIA ACTIVOS, S.L. puede proceder a la eliminación del Usuario por seguridad.
              En caso
              de
              que OPORTUNALIA ACTIVOS, S.L. localice datos ficticios, incompletos o inválidos, en una cuenta de usuario,
              se
              reserva
              el derecho de eliminar a este Usuario. Para el caso de que OPORTUNALIA ACTIVOS, S.L. constate la
              intervención, por
              sí
              mismo, representado por terceros o en representación de terceros, del usuario-postor que en ventas o
              subastas
              anteriores haya incumplido en todo o en parte las obligaciones antedichas, podrá excluirlo en la
              intervención
              pretendida en la venta o subasta pública sea cual fuere el estado de tramitación de la misma, teniendo por
              nulas y
              no hechas las ofertas que hubiere realizado.</p>

            <h2>6. OBLIGACIONES DEL COMPRADOR</h2>
            <p>Los usuarios que utilizan el portal de subastas <a
                href="https://oportunalia.com">oportunalia.com</a> para
              pujar y comprar activos (compradores) expresamente aceptan que: </p>
            <ul class="ml-3">
              <li>Los compradores que oferten para comprar un activo, garantizan su capacidad financiera para adquirir
                dicho
                activo. Una vez realizada la oferta, el comprador no podrá retractarse o modificarla en ningún caso.
              </li>
              <li>En caso de que los usuarios participen en nombre de otra persona o sociedad, deberán acreditarlo
                debidamente,
                aportando poderes de representación suficientes. La validez de su participación podrá quedar
                condicionada a la
                efectiva acreditación de la identidad, y en su caso, de la representación.</li>
              <li>Terminada la venta o subasta, los usuarios que infrinjan las reglas recogidas en los términos y
                condiciones, no
                podrán formalizar la venta o subasta de los bienes realizada a través de <a
                  href="https://oportunalia.com">oportunalia.com</a> y perderán, en su caso, las cantidades que
                hubieran
                entregado como depósito o fianza, reservándose OPORTUNALIA ACTIVOS, S.L. el derecho a ejercitar las
                acciones
                legales oportunas a efectos de exigir responsabilidades por los daños y perjuicios causados.</li>
              <li>El comprador se compromete a aportar al vendedor la información que éste solicite para cumplir con los
                requisitos
                exigidos por la Ley 10/2010 de 28 de abril y el Real Decreto 304/2014 de 5 de mayo, sobre la Prevención
                de
                Blanqueo de Capitales y Financiación del Terrorismo.<br>
                Siendo la documentación mínima requerida la siguiente:</li>
              <ol class="ml-3">
                <li>DNI/NIE/CIF</li>
                <li>Origen de los fondos (fondos propios, hipoteca, etc.)</li>
                <li>Extracto bancario (60 días)</li>
                <li>Nómina o IRPF</li>
                <li>Vida laboral</li>
                <li>Certificado empadronamiento</li>
                <li>Escritura constitución y nombramiento administrador (sólo empresas)</li>
                <li>Impuesto sociedades</li>
                <li>IVA</li>
              </ol>

            </ul>


            <h2>7. OBLIGACIONES DEL VENDEDOR</h2>
            <p>El vendedor aportará toda la información disponible sobre el activo o producto que deseen vender a través
              de
              nuestro portal. En las ofertas de ventas aparecerá la descripción de los activos de forma detallada y sus
              calidades.
            </p>
            <p>La información sobre la descripción y situación de los activos es facilitada por la persona (física o
              jurídica) o
              autoridad judicial que realiza en el encargo, por lo que ninguna responsabilidad cabe exigir a OPORTUNALIA
              ACTIVOS,
              S.L. en caso de que se produjera un error en la descripción de los bienes objeto de venta, o subasta.</p>

            <p>La información podrá ser revisada para asegurarnos de su veracidad, consistencia y exactitud y será
              detallada en el
              lote correspondiente de acuerdo con nuestro equipo de Ventas con el objetivo de maximizar su retorno.</p>
            <p>Los vendedores serán los únicos responsables de la exactitud y validación de toda la información que
              describa los
              activos en venta en nuestro sitio web. </p>
            <p>El precio de salida será fijado por la persona (física o jurídica) que haya realizado el encargo de
              enajenación del
              activo o en su caso mediante resolución judicial.</p>
            <p>Todos los bienes o activos que vayan a ser enajenados en <a
                href="https://oportunalia.com">oportunalia.com</a>
              tendrán fecha de inicio y de finalización de venta o de
              subasta, (según sea el caso), la cual estará publicada de forma clara en la página donde se muestra el
              bien.</p>
            <p>OPORTUNALIA ACTIVOS, S.L., podrá exigir el depósito de fianza, previa la publicación de esta información
              en el
              anuncio del activo siendo éste, en su caso, requisito indispensable para la participación en la venta o
              subasta del
              activo.</p>

            <h2>8. DEPÓSITO</h2>
            <p>Para concurrir a la venta o subasta, en determinados casos, será necesario la prestación de un depósito
              mediante
              transferencia bancaria efectuada directamente por el usuario en su oficina bancaria, en la cuenta designad
              por
              OPORTUNALIA ACTIVOS S.L., por importe que se indique en la información del bien.</p>
            <p>El importe a consignar se publicará en concreto en el anuncio del activo.</p>
            <p>Sólo cuando se haya verificado el cumplimiento de la exigencia de prestación del depósito, OPORTUNALIA
              ACTIVOS,
              S.L, permitirá al interesado participar en el proceso de enajenación.</p>
            <p>Una vez finalizada la venta o subasta, en caso de que el usuario participante no sea adjudicatario del
              bien o
              bienes por los que hubiere ofertado, se le devolverá el depósito mediante transferencia bancaria, a la
              misma cuenta
              de la que procede la transferencia inicial, en el plazo indicado en las condiciones particulares del
              proceso
              concreto.</p>
            <p>Si por el contrario el usuario ha resultado ser adjudicatario del bien objeto de la venta o subasta, la
              cantidad
              depositada será reservada como garantía del cumplimiento de su obligación de hacer frente al pago del
              resto del
              precio que hubiere ofertado por la adquisición del bien o bienes que se ha adjudicado y, en su caso, como
              parte del
              precio de la venta. Una vez finalizado el proceso de venta o subasta, se pondrá en conocimiento del
              resultado al
              vendedor, responsable de aceptar o no el resultado. El importe del depósito servirá para completar el
              total pago de
              lo que se hubiere ofertado por el bien objeto de venta, o subasta.</p>

            <h2>9. USO DEL PORTAL</h2>
            <p>La subasta tiene lugar el día y hora publicada en el anuncio correspondiente en la plataforma online <a
                href="https://oportunalia.com">oportunalia.com</a>. La fecha y la hora por la que se rige dicha
              plataforma
              es la hora española peninsular.</p>
            <p>El precio de salida corresponde al valor que legalmente se le ha asignado a dicho bien, y por el que
              hayan pactado
              las partes intervinientes en el procedimiento judicial. </p>
            <p>Al inicio de la venta o subasta el usuario registrado deberá estar conectado a Internet y ofertar en el
              momento en
              que el temporizador inicie la cuenta atrás. Solo se podrá realizar las pujas a medida que sean superiores
              de las de
              otros licitadores.</p>
            <p>Todas las ofertas quedan registradas en la plataforma online conforme van siendo realizadas por los
              usuarios. El
              sistema registra la oferta en el momento en el cual la recibe, independientemente de la hora en la que la
              realice el
              usuario. De forma que para la realización de las pujas puede afectar los servicios con los que cuente el
              usuario
              ofertante (su acceso a internet, su ancho de banda, su terminal, etc.).</p>

            <p>Cuando se acerque la fecha y hora de cierre de la subasta hay que poner especial atención a aquellas
              ofertas que se
              realicen en los últimos instantes de la venta o subasta, ya que el sistema informático puede registrarla,
              pero es
              posible que no figure como adjudicataria al grabarse fuera del plazo. Ello no obstante, a instancias de la
              persona
              que haya realizado el encargo de la subasta extrajudicial electrónica, es posible que el plazo de la venta
              directa o
              subasta se prorrogue automáticamente si, dentro de los dos minutos anteriores al cierre de la misma, se
              verificase
              una nueva puja que supera el precio de la mejor oferta registrada hasta ese momento, en cuyo caso, la
              venta directa
              o subasta se prorrogaría durante el plazo que se haya establecido en las condiciones particulares de
              subasta, y así
              sucesivamente hasta que dejasen de recibirse pujas en los dos minutos anteriores al cierre de la misma.
            </p>
            <p>Una vez finalizada la subasta <a href="https://oportunalia.com">oportunalia.com</a>, remitirá un
              correo
              electrónico al usuario que haya realizado la mayor de las ofertas registradas, indicándole que su puja ha
              sido la
              mejor que se ha registrado dentro de los plazos establecidos y en consecuencia que es el adjudicatario del
              activo.
            </p>
            <p>En el supuesto de que existiera cualquier conflicto entre dos o más pujas, OPORTUNALIA ACTIVOS S.L. se
              remitirá al
              Acta Notarial levantada por el fedatario público o a la certificación emitida por el Sello del Tiempo y
              tomará como
              mejor postura aquella en la que el Acta Notarial o el Sello del Tiempo figure como tal. En supuestos en
              los que la
              puja de dos o más usuarios hubiese entrado a la vez, sin posibilidad de verificar la identidad del usuario
              que antes
              pujó, se abrirá una "nueva subasta" entre todos aquellos usuarios afectados por esta circunstancia.</p>
            <p>Finalizada la subasta, la entidad especializada emitirá un informe acreditativo de todo cuanto ha
              acontecido en la
              misma y, en su caso, remitirá a la mayor brevedad posible el informe donde se incorporan los documentos
              relevantes
              de lo acontecido durante la subasta.</p>

            <h2>10. PAGO Y COMISIÓN </h2>
            <p>OPORTUNALIA ACTIVOS, S.L. cobrará una comisión de gestión por la utilización de la plataforma online <a
                href="https://oportunalia.com">oportunalia.com</a> al que haya resultado adjudicatario.</p>
            <p>El abono de dicha comisión deberá realizarse previamente a la formalización de la transmisión del activo
              cuya
              subasta extrajudicial se haya llevado a cabo a través de <a
                href="https://oportunalia.com">oportunalia.com</a>, siendo esta condición indispensable para
              poder
              finalizar con éxito la transmisión del activo.</p>
            <p>En caso de que el usuario que ha resultado adjudicatario de un bien objeto de venta o subasta a través de
              esta
              plataforma electrónica desistiere de su postura de manera injustificada, además de perder el importe del
              depósito
              que hubiese efectuado, podrá perder su derecho a volver a participar en cualquier otro proceso de venta o
              subasta
              que se lleve a cabo a través de ésta.</p>
            <p>El pago del precio del bien adjudicado se realizará de acuerdo con las condiciones y plazos establecidas
              por el
              propietario del mismo, o en lo dispuesto en la resolución judicial que habilita a OPORTUNALIA ACTIVOS S.L
              a realizar
              la gestión de la subasta del bien.</p>
            <p>En el supuesto de que por cualquier circunstancia ajena a OPORTUNALIA ACTIVOS S.L. el adjudicatario del
              activo
              desistiese de su postura, sin perjuicio de las responsabilidades que adquiriere frente a la persona física
              o
              jurídica que nos ha realizado el encargo, deberá abonar íntegramente a OPORTUNALIA ACTIVOS S.L. el importe
              de la
              comisión efectivamente devengada.</p>

            <h2>11. MODIFICACIONES </h2>
            <p>OPORTUNALIA ACTIVOS, S.L se reserva el derecho de efectuar sin previo aviso modificaciones que considere
              oportunas
              en su portal, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través
              de la
              misma como la forma en la que éstos aparezcan presentados en su portal.</p>
            <!-- <p>El hecho de usar este portal web implica que el usuario está de acuerdo con las Condiciones de Uso de
              OPORTUNALIA
              ACTIVOS, S.L. y se compromete a aceptar las modificaciones que puedan surgir así, cada vez que el USUARIO
              acceda
              deberá revisar atentamente las mismas.</p> -->
            <p>Para el caso de no aceptar estas condiciones, no debe seguir participando en los procesos publicadas en
              la web de
              OPORTUNALIA ACTIVOS, S.L.</p>

            <h2>12. RESPONSABILIDAD </h2>
            <!-- <p>OPORTUNALIA ACTIVOS, S.L., no garantiza la disponibilidad continua del funcionamiento del portal y no
              será
              responsable de la interrupción del servicio por la caída temporal del servidor ni de las posibles
              omisiones,
              pérdidas de información, datos, configuraciones, accesos indebidos o vulneración de la confidencialidad
              que tengan
              origen en problemas técnicos, de comunicaciones u omisiones humanas causadas por terceros o no imputables
              a
              OPORTUNALIA ACTIVOS S.L., ni a los terceros que desarrollan el trabajo. Asimismo, no se controla con
              carácter
              previo, la ausencia de virus o elementos en los contenidos, que puedan producir alteraciones en el
              software o
              hardware de los usuarios o personas que visiten la página, por lo que no responderá de los daños y
              perjuicios de
              cualquier naturaleza que pudieran derivarse de los mismos.</p> -->
            <p>En caso de que OPORTUNALIA ACTIVOS, S.L sospeche que un usuario podría haber cometido un acto ilícito con
              relación
              a sus términos y condiciones del servicio, tiene el derecho de investigar el asunto y emprender acciones
              legales
              contra el autor, sin perjuicio de proceder a su baja inmediata.</p>
            <p>OPORTUNALIA ACTIVOS S.L., se reserva el derecho de modificar, restringir, cancelar o declarar nula una
              subasta,
              puja, o venta, cuando haya razones suficientes que impliquen dichas acciones (debido a artificios
              informáticos,
              razones técnicas, de seguridad, etc), no siendo OPORTUNALIA ACTIVOS, S.L. responsable de los perjuicios.
            </p>
            <p>OPORTUNALIA ACTIVOS, S.L. no se responsabiliza del envío de correos electrónicos automáticos ni del
              contenido de
              estos. Las comunicaciones que el portal envía de forma automática al correo electrónico facilitado por el
              usuario
              durante el proceso de pujas son a mero título informativo sin que OPORTUNALIA ACTIVOS, S.L. tenga que
              responsabilizarse de su envío, recepción ni contenido. OPORTUNALIA ACTIVOS, S.L. no es responsable de los
              perjuicios
              causados por la recepción o no recepción de los e-mails informativos remitidos a los usuarios en el
              proceso de
              pujas. El usuario será el único responsable de supervisar la página web durante el proceso de pujas a fin
              de
              realizar o no sus pujas, según la información publicada en la página web en el apartado de “última puja”.
            </p>

            <h2>13. RECLAMACIONES</h2>
            <p>Todas las reclamaciones o disputas deberán ser enviadas vía mail a <a
                href="mailto:info&#64;oportunalia.com">info&#64;oportunalia.com</a>, asunto: “RECLAMACIÓN” o
              “INCIDENCIA”.</p>
            <p>En el caso de que OPORTUNALIA ACTIVOS S.L sea incapaz de entregar la propiedad ganada en subasta, los
              usuarios
              aceptarán como remedio y reclamación la devolución del dinero pagado por los activos no entregados. El
              usuario
              renuncia a todo tipo de reclamaciones contra OPORTUNALIA ACTIVOS ,S.L. por los daños, pérdidas, gastos,
              lesiones
              sufridas, o sanciones que no sean consecuencia directa de los servicios ofertados por OPORTUNALIA ACTIVOS
              S.L a
              través de este sitio web, así como cualquier otra reclamación por perjuicios, gastos o responsabilidades
              por daños a
              personas o bienes de cualquier tipo que ocurran durante la inspección de los activos comercializados, y
              durante su
              presencia o traslado a las propias instalaciones donde estos se encuentren o como resultado de la venta,
              uso,
              retirada u operación sobre el material adjudicado.</p>


            <h2>14. LEGISLACIÓN APLICABLE Y JURISDICCIÓN</h2>
            <p>Serán de aplicación las normas que regulen el procedimiento de subasta electrónica para todo aquello que
              no se haya
              previsto en las condiciones particulares de cada procedimiento de venta electrónica.</p>
            <p>Para la resolución de cualquier controversia que pudiera suscitarse en cuanto a la utilización y uso de
              la
              plataforma web o interpretación de las presentes Condiciones de uso, resultará de aplicación la
              legislación española
              vigente. Asimismo, el Usuario se somete a la jurisdicción de los Juzgados y Tribunales de la ciudad de
              Madrid
              (España) con renuncia expresa a cualquier otro fuero que pudiera corresponderle.</p>
            <p>Si tiene alguna duda sobre la utilización de la información contenida en este portal web puede contactar
              con
              OPORTUNALIA ACTIVOS, S.L, mediante el correo electrónico habilitado al efecto <a
                href="mailto:info&#64;oportunalia.com">info&#64;oportunalia.com</a></p>


                <p class="text-right">© oportunalia 2024 All Rights Reserved </p>
          </div>

        </mat-card>
      </div>

    </div>

  </div>
</div>
